RewriteEngine On
# Allow direct access to specific files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Send everything else to public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [L]